/* Move down content because we have a fixed navbar that is 50px tall */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: Lato;
    /*font-family: 'Pangolin', cursive;*/
    
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
body {
    line-height: 1;
    
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 20px;
    font-family: Lato;
    width:100%;
    overflow-x:hidden;
    font-family: "Lato", "Arial", sans-serif;
}
.col-md-8 {
    overflow-x: auto;
}
/*******  02 header  *******/
header {
    color: #333;
}


/*******  02 navbar  *******/

.navbar-fixed-top {
  top: 30px;
}
.phone-area {
    height: 30px;
    background-color: #ed4223;
}
.phone-area a {
    color: #fff;
    float: right;
    margin-right: 50px;
}
.phone-area a:hover {
    text-decoration: none;
}

.first-phone {
    color: #fff;
    padding-top: 6px;
    padding-right: 5px;
}
.logo {
   
    height: 40px;
    width: auto;    
}

.navbar-right li a{
    font-size: 20px;
    margin-top: 5px;
    margin-top: 15px;
    color: #333!important;
}
.navbar-right li a:hover {
    color: #eb4223!important;
}
.navbar {
    position: absolute;
    height: 80px;
    background-color: #fff;
    border-color: #fff;
    
}
.navbar-toggle {
    margin-top: 23px!important;
    border: none;
    
}
.navbar-header {
    margin-bottom: 15px;
}




/*******  03 jumbrotron  *******/

.jumbotron {
    margin-top: 50px;
    margin-bottom: 0px;
    height: auto;
    background-color: #f5f5f5;
    font-family: Lato;
    font-weight: 400;
    
}
.jumbotron p {
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
}

.jumbotron ul li {
    margin-left: 20px;
    font-family: Lato;
}
/*.jumbotron ul li:hover {
    color: #ed4223;
}*/
.jumbotron ul li a:hover {
    color: #ed4223;
    text-decoration: none;
    cursor: auto;
    
}
.jumbotron h1, h2, h3 {
    font-family:'Gloria Hallelujah', cursive; 
}
.jumbotron h2, h3 {
    font-size: 40px;
    text-align: left;
}
.jumbotron li {
    text-align: left;
    line-height: 2;
    padding-right: 20px;
}
.wrapper {
    display: flex;
    position: relative;
    
}
time {
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    color: #ed4223;
}
.blog-p {
    width: 100%;
    text-align: center!important;
    padding-top: 30px;
    color: #fff;   
}
.blog-p a{
    font-family: Lato;
    font-weight: 400;
    padding-top: 30px; 
    color: #fff;
}
.sidebar {
    height: 100vh;
    background-color: #ed4223;
    left: 67%;
    top: 0;
    position: absolute;
    
}
.sidebar h2 {
    text-align: center;
    color: #fff;
    padding-top: 40px;
    font-family: 'Gloria Hallelujah', cursive;
}
.updated {
    margin-bottom: 20px;
}
/*******  10 notepad  *******/

.notepad-p {
    margin-top: 10px;
}
#notepad ul li {
    font-size: 20px;
}
.note-img {
    margin-top: 20px;
    margin-bottom: 50px;
}
/*******  10 comment-box  *******/
#comment-box {
background-color: #f5f5f5;
padding-bottom: 50px;
    font-family: 'Gloria Hallelujah', cursive;
}
/*******  git  *******/
#git li p{
    padding-right: 50px;
    font-family: Lato;
    font-weight: 400;
    color: #333!important;
}
#git li {
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
}
#git h2, #notepad h3, h2 {
    padding-bottom: 20px;
}
.heading-h2 {
    font-family: Lato;
}
/*******  10 footer  *******/

.wpc-footer {
    background-color:  #2c3e50;
/** Secondary footer **/
/** Copyright **/
/** Widgets footer **/
}
.quick-linkh3 {
    margin-left: 50px;
}
.wpc-footer .wpc-secondary-footer {
    text-align: center;
    padding: 76px 0 74px;
    margin-top: -1px;
}

.wpc-footer .wpc-secondary-footer .wpc-footer-logo {
    margin-bottom: 26px;
}

.wpc-footer .wpc-secondary-footer .wpc-footer-text {
    font: 14px Lato,sans-serif;
    color: #e2e2e2;
    line-height: 26px;
    letter-spacing: 1.1px;
    margin-bottom: 17px;
}

.wpc-footer .wpc-secondary-footer .wpc-footer-social a {
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #868686;
    color: #868686;
    text-align: center;
    margin-right: 20px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.wpc-footer .wpc-secondary-footer .wpc-footer-social a:hover {
    background-color: #fe2421;
    border-color: #fe2421;
    color: #fff;
    text-decoration: none;
}

.wpc-footer .wpc-footer-copyright {
    font: 400 12px 'Noto Sans',sans-serif;
    color: #fff;
    background-color: #242424;
    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wpc-footer .wpc-footer-copyright a {
    margin-left: 5px;
}

.wpc-footer .wpc-widget {
    margin-top: 50px;
    margin-bottom: 43px;
/** Latest post widget **/
/** Instagram widget **/
/** Tags widget **/
}

.wpc-footer .wpc-widget.contact_widget {
    margin-right: -3px;
}

.wpc-footer .wpc-widget .wpc-title-w {
    font: 700 17px Montserrat,sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .8px;
    margin-bottom: 20px;
}

.wpc-footer .wpc-widget .wpc-contant {
    margin-left: -4px;
}

.wpc-footer .wpc-widget .wpc-contant .text {
    font: 400 14px Lato,sans-serif;
    color: #d0cece;
    line-height: 26px;
    letter-spacing: 1.1px;
    margin-bottom: 40px;
}

.wpc-footer .wpc-widget .wpc-contant li {
    font: 400 13px 'Noto Sans',sans-serif;
    color: #ddd;
    border-bottom: 1px solid rgba(233,233,233,0.1);
    padding-bottom: 17px;
    margin-bottom: 15px;
    letter-spacing: .4px;
}

.wpc-footer .wpc-widget .wpc-contant li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.wpc-footer .wpc-widget .wpc-contant li .fa {
    color: #fe2421;
    font-size: 15px;
    margin-right: 20px;
}

.wpc-footer .wpc-widget .wpc-latest-post {
    margin-top: 28px;
}

.wpc-footer .wpc-widget .wpc-latest-post li {
    border-bottom: 1px solid rgba(233,233,233,0.1);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.wpc-footer .wpc-widget .wpc-latest-post li:before,.wpc-footer .wpc-widget .wpc-latest-post li:after {
    content: "";
    display: table;
}

.wpc-footer .wpc-widget .wpc-latest-post li:after {
    clear: both;
}

.wpc-footer .wpc-widget .wpc-latest-post li:last-child {
    border-bottom: 0;
}

.wpc-footer .wpc-widget .wpc-latest-post .img {
    width: 37%;
    display: inline-block;
    float: left;
}

.wpc-footer .wpc-widget .wpc-latest-post .img img {
    display: block;
    width: 100%;
}

.wpc-footer .wpc-widget .wpc-latest-post .link {
    display: inline-block;
    font: 700 13px Montserrat,sans-serif;
    color: #fff;
    line-height: 19px;
    letter-spacing: .5px;
    margin-bottom: 4px;
}

.wpc-footer .wpc-widget .wpc-latest-post .post-info-content {
    font: 400 10px 'Noto Sans',sans-serif;
    color: #6b6b6b;
    letter-spacing: .3px;
}

.wpc-footer .wpc-widget .wpc-latest-post .post-excerpt {
    display: none;
}

.wpc-footer .wpc-widget .wpc-latest-post .content {
    width: 63%;
    float: left;
    text-align: left;
    padding-top: 18px;
    padding-left: 14px;
}

.wpc-footer .wpc-widget .wpc-latest-post .content .link {
    display: inline-block;
    font: 700 13px Montserrat,sans-serif;
    color: #fff;
    line-height: 19px;
    letter-spacing: .5px;
    margin-bottom: 4px;
}

.wpc-footer .wpc-widget .wpc-latest-post .content .post-info-content {
    font: 400 10px 'Noto Sans',sans-serif;
    color: #6b6b6b;
    letter-spacing: .3px;
}

.wpc-footer .wpc-widget .wpc-instagram {
    margin-top: 28px;
}

.wpc-footer .wpc-widget .wpc-instagram figure {
    width: 50%;
    height: 94px;
    float: left;
    overflow: hidden;
    margin: 0px;
    
}

.wpc-footer .wpc-widget .wpc-instagram figure a {
    display: inline-block;
}

.wpc-footer .wpc-widget .wpc-instagram figure a img {
    width: 100%;
}

.wpc-footer .wpc-widget .wpc-instagram > a {
    display: inline-block;
    font: 700 10px 'Noto Sans',sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #eb4223;
    padding: 7px 13px 7px 12px;
    letter-spacing: .4px;
    margin-top: 22px;
}

.wpc-footer .wpc-widget .wpc-instagram > a:hover {
    background-color: rgba(235, 66, 35, 0.7);
    text-decoration: none;
}

.wpc-footer .wpc-widget.widget_tag_cloud {
    margin-left: -2px;
    padding-left: 17px;
}

.wpc-footer .wpc-widget.widget_tag_cloud .tagcloud {
    margin-top: 29px;
}

.wpc-footer .wpc-widget.widget_tag_cloud .tagcloud a {
    display: inline-block;
    font: 400 11px Lato,sans-serif !important;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    padding: 8px 18px 8px 16px;
    letter-spacing: 1px;
    margin-left: -1px;
    margin-right: 5px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.wpc-footer .wpc-widget.widget_tag_cloud .tagcloud a:hover {
    border: 1px solid #eb4223!important;
    
}

.wpc-footer .wpc-widget.widget_tag_cloud .tagcloud a:hover,.wpc-footer .wpc-widget.widget_tag_cloud .tagcloud a:focus {
    text-decoration: none;
    color: #ed4223;
}

footer {
    text-align: left;
}
.lb-outerContainer {
    background-color: #2c3e50!important;
}

.wpc-contant li .fa {
      color: #eb4223!important;
    font-size: 25px!important;
}

.wpc-footer-copyright a {
    color: #eb4223;
}
.wpc-footer {
    background-color: #2c3e50;
}
.footer-p {
    font: 400 13px 'Noto Sans',sans-serif;
    color: #ddd;
    border-bottom: 1px solid rgba(233,233,233,0.1);
    padding-bottom: 17px;
    margin-bottom: 15px;
    letter-spacing: .4px;
}
.wpc-contant a {
    color: #ddd!important;
}
.wpc-contant a:hover {
    text-decoration: none;
}
.post-info-content span {
    color: #ddd;
}
.quick-links a {
    text-decoration: none;
    font: 400 14px Lato,sans-serif;
    color: #d0cece;
    line-height: 26px;
    letter-spacing: 1.1px;
    
}
.quick-links li {
    margin-bottom: 15px;
}
.quick-links {
    margin-left: 50px;
}
.instapics {
    margin: 0px!important;
}
footer ul li {
   list-style: none;
}